@page
@model CustomerMenuCreateModel
@{
    ViewData["Title"] = "自定义菜单创建";
}
<div class="row-fluid">
    <h3 class="page-title">@ViewData["Title"]</h3>
</div>
<div class="row-fluid">
    <div class="span12">

        <div class="span3">

            <ul class="ver-inline-menu tabbable margin-bottom-10">

                @*<li class="active">

                    <a href="#tab_1" data-toggle="tab">

                        

                    </a>

                    <span class="after"></span>

                </li>*@

                <li><a href="#tab_1" data-toggle="tab"><i class="icon-plus"></i> 创建一个Click菜单</a></li>
                <li class=""><a href="#tab_2" data-toggle="tab"><i class="icon-plus"></i> 创建一个View菜单</a></li>
                <li class=""><a href="#tab_3" data-toggle="tab"><i class="icon-plus"></i> 创建一个扫一扫菜单</a></li>
                <li class=""><a href="#tab_4" data-toggle="tab"><i class="icon-plus"></i> 创建一个扫一扫等待菜单</a></li>
                <li class=""><a href="#tab_5" data-toggle="tab"><i class="icon-plus"></i> 创建一个拍照菜单</a></li>
                <li class=""><a href="#tab_6" data-toggle="tab"><i class="icon-plus"></i> 创建一个拍照或相册菜单</a></li>
                <li class=""><a href="#tab_7" data-toggle="tab"><i class="icon-plus"></i> 创建一个微信相册菜单</a></li>
                <li class=""><a href="#tab_8" data-toggle="tab"><i class="icon-plus"></i> 创建一个地理位置菜单</a></li>
                <li class=""><a href="#tab_9" data-toggle="tab"><i class="icon-plus"></i> 创建一个媒体素材菜单</a></li>
                <li class=""><a href="#tab_10" data-toggle="tab"><i class="icon-plus"></i> 创建一个图文消息菜单</a></li>
                <li class=""><a href="#tab_11" data-toggle="tab"><i class="icon-plus"></i> 创建一个小程序菜单</a></li>
            </ul>

        </div>

        <div class="span9">

            <div class="tab-content">

               
                @Html.Partial("~/Pages/Partials/CodePartail.cshtml", new DemoWeb.Pages.Partials.CodePartailModel
           {
               Index = 1,
               Code = () =>
               {
                   return @"
var request = new MenuCreateRequest
{
    Buttons = new List<ClickButton>
    {
        new ClickButton{
            Name = ""今日歌曲"",
            Key = ""V1001_TODAY_MUSIC"",
            Type = ClickButtonType.click
        }
    }
};
IApiClient api = new DefaultApiClient();
var response = m_client.Execute(request);";
               }
           })
                @Html.Partial("~/Pages/Partials/CodePartail.cshtml", new DemoWeb.Pages.Partials.CodePartailModel
           {
               Index = 2,
               Code = () =>
               {
                   return @"
var request = new MenuCreateRequest
{
    Buttons = new List<ClickButton>
    {
        new ClickButton{
            Name = ""我的博客"",
            Url = ""http://inday.cnblogs.com"",
            Type = ClickButtonType.view
        }
    }
};
IApiClient api = new DefaultApiClient();
var response = m_client.Execute(request);";
               }
           })
                @Html.Partial("~/Pages/Partials/CodePartail.cshtml", new DemoWeb.Pages.Partials.CodePartailModel
           {
               Index = 3,
               Code = () =>
               {
                   return @"
var request = new MenuCreateRequest
{
    Buttons = new List<ClickButton>
    {
        new ClickButton{
            Name = ""扫码推事件"",
            Key = ""rselfmenu_0_1"",
            Type = ClickButtonType.scancode_push
        }
    }
};
IApiClient api = new DefaultApiClient();
var response = m_client.Execute(request);";
               }
           })
                @Html.Partial("~/Pages/Partials/CodePartail.cshtml", new DemoWeb.Pages.Partials.CodePartailModel
           {
               Index = 4,
               Code = () =>
               {
                   return @"
var request = new MenuCreateRequest
{
    Buttons = new List<ClickButton>
    {
        new ClickButton{
            Name = ""扫码带提示"",
            Key = ""rselfmenu_0_0"",
            Type = ClickButtonType.scancode_waitmsg
        }
    }
};
IApiClient api = new DefaultApiClient();
var response = m_client.Execute(request);";
               }
           })
                @Html.Partial("~/Pages/Partials/CodePartail.cshtml", new DemoWeb.Pages.Partials.CodePartailModel
           {
               Index = 5,
               Code = () =>
               {
                   return @"
var request = new MenuCreateRequest
{
    Buttons = new List<ClickButton>
    {
        new ClickButton{
            Name = ""系统拍照发图"",
            Key = ""rselfmenu_1_0"",
            Type = ClickButtonType.pic_sysphoto
        }
    }
};
IApiClient api = new DefaultApiClient();
var response = m_client.Execute(request);";
               }})
                @Html.Partial("~/Pages/Partials/CodePartail.cshtml", new DemoWeb.Pages.Partials.CodePartailModel
           {
               Index = 6,
               Code = () =>
               {
                   return @"
var request = new MenuCreateRequest
{
    Buttons = new List<ClickButton>
    {
        new ClickButton{
            Name = ""拍照或者相册发图"",
            Key = ""rselfmenu_1_1"",
            Type = ClickButtonType.pic_photo_or_album
        }
    }
};
IApiClient api = new DefaultApiClient();
var response = m_client.Execute(request);";
               }
           })
                @Html.Partial("~/Pages/Partials/CodePartail.cshtml", new DemoWeb.Pages.Partials.CodePartailModel
           {
               Index = 7,
               Code = () =>
               {
                   return @"
var request = new MenuCreateRequest
{
    Buttons = new List<ClickButton>
    {
        new ClickButton{
            Name = ""微信相册发图"",
            Key = ""rselfmenu_1_2"",
            Type = ClickButtonType.pic_weixin
        }
    }
};
IApiClient api = new DefaultApiClient();
var response = m_client.Execute(request);";
               }
           })
                @Html.Partial("~/Pages/Partials/CodePartail.cshtml", new DemoWeb.Pages.Partials.CodePartailModel
           {
               Index = 8,
               Code = () =>
               {
                   return @"
var request = new MenuCreateRequest
{
    Buttons = new List<ClickButton>
    {
        new ClickButton{
            Name = ""发送位置"",
            Key = ""rselfmenu_2_0"",
            Type = ClickButtonType.location_select
        }
    }
};
IApiClient api = new DefaultApiClient();
var response = m_client.Execute(request);";
               }
           })
                @Html.Partial("~/Pages/Partials/CodePartail.cshtml", new DemoWeb.Pages.Partials.CodePartailModel
           {
               Index = 9,
               Code = () =>
               {
                   return @"
var request = new MenuCreateRequest
{
    Buttons = new List<ClickButton>
    {
        new ClickButton{
            Name = ""图片"",
            Media_Id = ""MEDIA_ID1"",
            Type = ClickButtonType.media_id
        }
    }
};
IApiClient api = new DefaultApiClient();
var response = m_client.Execute(request);";
               }
           })
                @Html.Partial("~/Pages/Partials/CodePartail.cshtml", new DemoWeb.Pages.Partials.CodePartailModel
           {
               Index = 10,
               Code = () =>
               {
                   return @"
var request = new MenuCreateRequest
{
    Buttons = new List<ClickButton>
    {
        new ClickButton{
            Name = ""图文消息"",
            Media_Id = ""MEDIA_ID2"",
            Type = ClickButtonType.view_limited
        }
    }
};
IApiClient api = new DefaultApiClient();
var response = m_client.Execute(request);";
               }
           })
                @Html.Partial("~/Pages/Partials/CodePartail.cshtml", new DemoWeb.Pages.Partials.CodePartailModel
           {
               Index = 11,
               Code = () =>
               {
                   return @"
var request = new MenuCreateRequest
{
    Buttons = new List<ClickButton>
    {
        new ClickButton{
            Name = ""小程序"",
            Url = ""http://mp.weixin.qq.com"",
            MiniProgramAppId = ""wx286b93c14bbf93aa"",
            MiniProgramPagePath = ""pages/lunar/index"",
            Type = ClickButtonType.miniprogram
        }
    }
};
IApiClient api = new DefaultApiClient();
var response = m_client.Execute(request);";
               }
           })
            </div>

        </div>

        <!--end span9-->

    </div>
</div>
